main {
  padding: 0 5%;
  text-align: start;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.col {
  display: flex;
  flex-direction: column;
}

.dataItem {
  border: 1px solid #ccc;
  margin: 15px 0;
  padding: 10px
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

#overallStatus {
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}